/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;
*/
/*Startup Matchmaker CSS*/

body{
	margin: 0px;
	font-family: "Source Sans Pro", sans-serif;
	box-sizing: border-box;
}
.outside_box {
	/*width: 1024px;*/
	width: 80%;
	box-sizing: border-box;
}

.header_box{
	width: 80%;
}



header{
	background: black;
	height: 60px;
	width: 80%;
	border-bottom: 4px solid yellow;
}

header h1{
	color:yellow;
	float: left;
	margin:12px 30px;
	font-family: "Merriweather", serif;
}

/*the font in my nav doesn't match the website imgage 
despite using Oswald like the text file suggeted*/

nav{
	width: 50%;
	height: 60px;
	float: right;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-top: 20px;

}

nav li{
	display: inline-block;
	padding-right: 10px;
}

nav a{
	color: white;
	display: inline-block;
	text-decoration: none;
}

nav a:hover{
	color: #ffffff;
	background: #ff7401;
}

strike{
	color: gray;
	
}

.brains{
	background: #C6C6C6;
	width: 80%;
	box-sizing: border-box;
	height: 40px;
	padding-top: 10px;
}

h2 span{
	border-bottom: yellow 3px solid;
}

/*how do i add weight to the font? "font-weight" doesn't work.*/
.brains h2{
	text-align: center;
	margin: 0px;
	font-family: 'Merriweather', serif;
	font-size: 25px;
}

.picture_box{
	background: url(../img/coworking.jpg) no-repeat;
    width: 80%;
    height: 350px;
    float: left;
}

.meet_your_match{
	background: white;
    opacity: .8;
    height: 180px;
    width: 304px;
    float: right;
    margin: 35px 30px 30px 30px;
    padding: 50px;
    box-shadow: 2px 2px 5px grey;
    line-height: 140%;
}

/*how do i add weight to the font? "font-weight" doesn't work.*/

.meet_your_match h2{
	margin:0 0px;
	font-family: "Oswald", sans-serif;
	font-size: 30px;
}

.meet_your_match p{
	margin-top: 10px;
}

/*how do i add weight to the font? "font-weight" doesn't work.*/

.picture_box a{
   	background: yellow;
    border-radius: 5px;
    box-shadow: 0px 2px 0px grey;
    padding-top: 16px;
    padding-left: 93px;
    color: black;
    height: 36px;
    width: 213px;
    position: absolute;
    /*left: 640px;
    top: 335px;*/
    font-family: "Oswald", sans-serif;
}

.selection_boxes{
	padding: 30px 0px;
    margin: 0px;
    clear: both;
    width: 80%;
    float: left;
    background: #f2f2f2
}

.create_profile_box{
    width: 290px;
    height: 200px;
    float: left;
    border-right: 1px solid;
    /*background: #f2f2f2;*/
    margin: 0px;
    padding: 20px 25px;
}

.create_profile_box h2{
	margin:5px 0px;
	font-family: "Merriweather", serif;
	font-size: 25px;
}

.create_profile_box p{
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 140%;
}

/*how do i add weight to the font? "font-weight" doesn't work.*/

.create_profile_box a{
	background: #C6C6C6;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 2px 0px grey;
    font-family: "Oswald", sans-serif;
    height: 35px;
    padding-top: 15px;
    padding-left: 94px;
    margin-top: 37px;
}

.find_developer_box{
    width: 290px;
    height: 200px;
    float: left;
    border-right: 1px solid;
    /*background: #f2f2f2;*/
    margin: 0px;
    padding: 20px 25px;
}

.find_developer_box h2{
	margin:5px 0px;
	font-family: "Merriweather", serif;
	font-size: 25px;
}

.find_developer_box p{
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 140%;
	line-height: 140%;
}

/*how do i add weight to the font? "font-weight" doesn't work.*/

.find_developer_box a{
	background: #C6C6C6;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 2px 0px grey;
    font-family: "Oswald", sans-serif;
    height: 35px;
    padding-top: 15px;
    padding-left: 80px;
    margin-top: 59px;
}

.find_designer_box{
	width: 290px;
    height: 200px;
    float: left;
    /*background: #f2f2f2;*/
    margin: 0px;
    padding: 20px 25px;
}

.find_designer_box h2{
	margin:5px 0px;
	font-family: "Merriweather", serif;
	font-size: 25px;
}


.find_designer_box p{
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 140%;
    line-height: 140%;
}

/*how do i add weight to the font? "font-weight" doesn't work.*/

.find_designer_box a{
	background: #C6C6C6;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 2px 0px grey;
    font-family: "Oswald", sans-serif;
	height: 35px;
    padding-top: 15;
    padding-left: 80px;
    margin-top: 58px;
}


a{
	text-decoration: none;
}

footer{
	width: 80%;
    height: 17px;
    clear: both;
    box-sizing: border-box;
    background: black;
    padding: 30px;
    margin: 0px;
}
footer h4{
	color: white;
	margin: 0px;
}

h2{
	font-weight: bold;
}

.icon{
	display: none;
}

@media (max-width: 1595px) {
	.find_developer_box{
		border-right: none;
	}
}

@media (max-width: 1065px) {
	.create_profile_box{
		border-right: none;
	}
}

@media (max-width: 1065px) {
	.create_profile_box{
		border-right: none;
	}
}