.outside{
	background: white;
	padding: 40px 40px;
}

.title{
	color: #DD0000;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 40px;
}

.title_description{
	font-size: 20px;
	line-height: 1.5;
	text-decoration: none;
	color: black;
}

.title_description:hover{
	color: #aa0000;
}

.top_navigation{
	font-family: 'Lato', sans-serif;
	color: lightgray;
	font-size: 15px;

	/*word-spacing: 30px;*/
}

.top_navigation:hover{
	color: black;
}

ul{
	margin:0;
	padding:0;
}

li{
	display: inline-block;
	float: left;
    padding-right: 20px;


}

.header_box{
	margin:20px 0 45px 0;
	width: 600px;
}

.header_content{
	padding: 5px 0;
}

.content{
	margin: 5px 0;
	font-family: 'Lato', sans-serif;
}

.date{
	color: #cccccc;
	font-size: 27px;
	font-weight: lighter;
	
}

img{
	width: 100%;

}

.content_box{
	margin: 20px 0;
	padding: 10px 0;
	width: 600px;
	border-bottom: solid lightgray thin;
}

.continues_box{
	text-align: right;
	margin: 20px 0;
}
a.continues{
	color: #DD0000;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 13px;
	width: 600px;
}

.footer{
	font-size: 13px;
	color: lightgray;
}

.subheader{
	font-size: 25px;
	font-family: 'Lato', sans-serif;
}

.article{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.bottom_navigation{
	font-size: 13px;
	color: #DD0000;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

