body {
    margin: 0px;
    margin-bottom: 50px;

}

.active {}

.wrapper {
    margin: 0%;
    box-sizing: border-box;
    text-align: center;
}

header{
	 margin: 0%;
     width: 100%;
     height: 69px;
}



.filter_wrapper {
	text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.filter {
    padding: 0px;
    margin:0px;
    background: black;
    width: 100%;
    height: 69px;
}

.filter_selection{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0px -2px;
}
/*.filter_selection a*/
.filter_option{
    display: block;
/*    background: green;*/
    color: white;
    margin: 0px;
    padding: 23px 15px;
    height: 23px;
    font-family: 'Catamaran', sans-serif;
}


.filter_selection:hover{
    background: #2E8B57;
} 

.filter_active{
    background: #2E8B57;
}

.header_offset {
    height: 39px;
}
.filter_offset{
    height: 39px;
}

.filter_option_offset{
    padding: 10px 15px;
    height: 19px;
}

.small_nav{
    display: none;
}

.burger {
    display: none;
}


.photoGrid {
    list-style-type: none;
    /*float: left;*/
    display: inline-block; 
    width: 400px;
}

a {
    text-decoration: none;
}

.title {
    height: 5%;
    width: 40%;
    clear: both;
    display: block;
    margin: 0 auto;
    /*margin-top: 69px;*/
    font-family: 'Bree Serif', serif;
    font-size: 400%;
    font-weight: 900;
    line-height: 100%;
}

.subheader {
    height: 50px;
    width: 600px;
    margin: 0 auto;
    font-family: 'Bree Serif', serif;
    /*	
	background: pink;*/
}

.caption p {
    text-align: center;
    display: block;

}

hr {
    width: 20%;
    display: inline-block;
}

.content,
.gallery {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 0px;

}

/*.photo_link{
    position: relative;
}*/

.photo_link img {
    height: 285px;
    width: 399px;
    margin: 0px;
    padding: 0px;
}
/*
.photo_link p{
    position: absolute;

}

p span{
   
     font-size: 10px;
    width: 50%;
    top: 10px;
    left: 0;
    background: rgb(255, 255, 255);
    color: #39454b;
}*/

.bigimage{
    height: 600px;
    width: 900px;
    margin: auto;

}

.left_nav.right_nav{
    display: none;
}

.bigimage_wrapper{
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.9);
    justify-content: center;
}

.bigimage_wrapper_hidden{
    display: none;
}

/*.gallery li{
	margin: 0;
	padding: 0;
}
.content{
	margin: 0;
	padding: 0;
}*/

figure {
    margin: 0px;
    padding: 0px;
}
