body {
    margin: 0px;
}

.active {}

.wrapper {
    margin: 0% 3%;
    box-sizing: border-box;
    text-align: center;
}

header{
	 margin: 0%;
}

/*.menu_wrapper {
    text-align: left;
}

.menu {
    display: inline-block;
    padding: 0px;
    background: black;
}

.menu_navigation {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    text-align: center;
}

.menu_navigation a {
    color: white;
}

.menu_navigation:hover {
    background: gray;
}*/

.filter_wrapper {
	text-align: center;
}

.filter {
    /*display: inline-block;*/
    padding: 0px;
    margin:0px;
    background: black;
   /* opacity: .9;*/
    width: 100%;
}

.filter_selection{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 0px;
    text-align: center;
}
.filter_selection a{
	color: white;
}

.filter li:hover{
	background: gray;
}

.photoGrid {
    list-style-type: none;
    display: inline-block;
    width: 700px;
}

a {
    text-decoration: none;
}

.title {
    /*background: blue;*/
    height: 5%;
    width: 40%;
    clear: both;
    display: block;
    margin: 0 auto;
    font-family: 'Bree Serif', 'Serif';
    font-size: 400%;
    font-weight: 900;
}

.caption {
    height: 50px;
    width: 600px;
    margin: 0 auto;
    /*	
	background: pink;*/
}

.caption p {
    text-align: center;
    display: block;
}

hr {
    width: 20%;
    display: inline-block;
}

.content,
.gallery {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 0;
}

.photo_link {}

img {
    height: 500px;
    width: 700px;
    margin: 0;
    padding: 0;
}


/*.gallery li{
	margin: 0;
	padding: 0;
}
.content{
	margin: 0;
	padding: 0;
}*/

figure {
    margin: 0;
    padding: 0;
}
